@keyframes notification {
    0% {
        transform: translateX(0);
        opacity: 0%;
      }
    
      50%{
        transform: translateX(100px);
        opacity: 100%;
        /* animation-play-state: paused; */
      }
    
      100% {
        transform: translateX(0);
        opacity: 0%;
      }
}

/* Index */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choix{
    margin-top: 10px;
    padding: 10px;
    border: 1px dashed black;
    text-align: center;
    width: fit-content;
}

/* Recap */
table{
    border: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: left;
}

td{
    border-top: 1px solid black;
}

td.qtt{
    display: flex;
}

/* Index & Recap*/
.statut{
    text-transform: uppercase;
}

/* .error{
    transition: 3s ease-in;
} */

.error p{
    opacity: 0;
    width: fit-content;
    background-color: brown;
    color: white;
    border-radius: 5px;
    padding:15px;
    animation-duration: 2s;
    animation-name: notification;
}

.success p{
    opacity: 0;
    width: fit-content;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding:15px;
    animation-duration: 2s;
    animation-name: notification;
}


